<section class="main-area">

    <div class="dash-title">
        <div>
            <h1>Análisis de Laboratorio #001</h1>
            <p>Asistente de Razonamiento Experimental Activo</p>
        </div>

        <div class="safety-badge">
            <span class="status-icon">🛡️</span>
            <span>Sistema Seguro</span>
        </div>
    </div>

    <div class="upload-grid">
        <div class="drop-zone"
        [class.dragging]="isDraggingPDF"
        (dragover)="onDragOver($event, 'pdf')"
        (dragleave)="onDragLeave('pdf')"
        (drop)="onDrop($event, 'pdf')">

        @if (isUploadingPDF) {
            <div class="spinner"></div>
            <p>Subiendo manual...</p>
        } 
        @else if (selectedPDFName) {
            <span class="icon">✅</span>
            <h3>{{ selectedPDFName }}</h3>

        @if (showConfirmButtons) {
            <p>¿Es el archivo correcto?</p>
            <div class="action-buttons">
                <button (click)="confirmUpload('pdf')" class="btn-confirm">✅ Confirmar</button>
                <button (click)="revertUpload('pdf')" class="btn-revert">❌ Revertir</button>
            </div>
        } @else {
            <p>Archivo listo y sincronizado</p>
        }
    } 
        @else {
            <span class="icon">📄</span>
            <h3>Protocolo (PDF)</h3>
            <p>Arrastra el manual del experimento</p>
        }
        </div>

        <div class="drop-zone"
        [class.dragging]="isDraggingIMG"
         (dragover)="onDragOver($event, 'img')"
         (dragleave)="onDragLeave('img')"
         (drop)="onDrop($event, 'img')">

         @if (isUploadingIMG) {
            <div class="spinner"></div>
            <p>Procesando imagen...</p>
        } @else if (selectedIMGName) {
            <span class="icon">✅</span>
            <h3>{{ selectedIMGName }}</h3>
            <p>Imagen cargada</p>
            @if (showConfirmButtons) {
                <div class = "action-buttons">
                    <button (click)="confirmUpload('img')" class="btn-confirm">Confirmar</button>
                    <button (click)="revertUpload('img')" class="btn-revert">Revertir</button>
                </div>
            } @else { 
                <p>Sincronizado</p> 
            }
        } 
        @else {
            <span class="icon">🖼️</span>
            <h3>Imagen (JPG, PNG)</h3>
            <p>Sube la imagen relacionada con el experimento</p>
        }
        </div>

        <div class="drop-zone"
            [class.dragging]="isDraggingCSV"
            (dragover)="onDragOver($event, 'csv')"
            (dragleave)="onDragLeave('csv')"
            (drop)="onDrop($event, 'csv')">

            @if (isUploadingCSV) {
            <div class="spinner"></div>
            <p>Procesando datos...</p>
        } @else if (selectedCSVName) {
            <span class="icon">📊</span>
            <h3>{{ selectedCSVName }}</h3>
            @if (showConfirmButtons) {
                <div class="action-buttons">
                    <button (click)="confirmUpload('csv')" class="btn-confirm">Confirmar</button>
                    <button (click)="revertUpload('csv')" class="btn-revert">Revertir</button>
                </div>
            } @else { <p>Sincronizado</p> }
        } 
        @else {
            <span class="icon">📈</span>
            <h3>Dataset (CSV)</h3>
            <p>Sube los datos de Kaggle</p>
        }
    </div>

    </div>

    <div class="results-preview">
        <div class="agent-thought" [class.error-border]="agentThought.includes('Error') || agentThought.includes('Cuidado')">
            <strong>🤖 Scientist Agent:</strong>
            "{{ agentThought }}"
        </div>

        <div class="data-chart-placeholder">
            <p>Visualización de Datos en Tiempo Real</p>
        </div>


        <div class="chat-container">

            <div class="chat-header-title">
                <strong>💬 Chat con Asistente</strong>
            </div>

            <div class="chat-messages" #scrollMe>
                @for (msg of chatHistory; track $index){
                    <div class="message" [ngClass] = "msg.role">
                        {{msg.text}}
                    </div>
                }
                @if (isTyping){
                    <div class="message assistant">🤖 Escribiendo...</div>
                }
                <!-- <div class="message user">¿Cuál es el siguiente paso del protocolo?</div>
                <div class="message assistant">Debes verificar la presión del reactor antes de iniciar el calentamiento.</div> -->
            </div>

            <div class="chat-input-area">
                <input type="text" 
                [(ngModel)] = "userInput"
                (keyup.enter) = "onSendMessage()"
                placeholder="Haz una pregunta sobre el experimento...">
                <button (click)="onSendMessage()" class="send-btn">➔</button>
            </div>
        </div>
    </div>
</section>