:host {
  display: flex;
  flex-direction: column;
  flex: 1; /* Esto obliga a todo el componente App a estirarse dentro del body */
  height: 100%;
}

.main-container {
  display: flex;
  flex: 1;
  width: 100%; /* Esto estira el Sidebar hasta el borde del Footer */
  overflow: hidden;
}

app-sidebar {
  display: block;
  height: 100%;
  flex-shrink: 0;
}

app-footer {
  display: block;
  height: 40px; /* Altura fija de tu diseño original */
  flex-shrink: 0; /* Evita que el body lo aplaste */
}

.content-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  background-color: #ffffff;
  /* Añadimos esto para que el dashboard se expanda suavemente */
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
